body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  border: 1px solid red;
}

.yard {
  border: 1px solid purple;
}

.current {
  border: 1px solid blue;
}

.proposed {
  border: 3px solid green;
}

.trees {
  border: 1px solid greenyellow;
}

h4 {
  text-align: left;
}

ol > li {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 40%;
  display: block;
}